<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">Select the Movie</label>
    <form action="/pay" method="post">
    <select name="movie_name" id="movie_name"  >
      <option value="10">Avengers (10$)</option>
      <option value="30">URI (30$)</option>
      <option value="50">Pathan(50$)</option>
    </select>
    <button type="submit">submit</button>
  </form>
</body>
</html>


